<h2>Cart of Sales!</h2>

<table class="table table-hover table-striped ">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @for (item of items; track $index) {
            <tr>
                <td>{{item.product.name}}</td>
                <td>{{item.product.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.product.price * item.quantity}}</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td>{{total}}</td>
        </tr>
</table>