<button (click)="setVisible(!visible)">
    {{ visible ? 'Ocultar' : 'Mostrar' }} Visibilidad
</button>

@if (visible) {
    <h2>{{ title }}</h2>
    <div>Total: {{counter}} </div>
    @if (users.length > 0 && users != undefined) {    
    <table>    
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @for (user of users; track $index) {
                <tr>
                    <td>{{ $index + 1 }}</td>
                    <td>{{ user }}</td>
                </tr>
            }
        </tbody>
    </table>
    } @else {
        <div>        
            <p>No ahi usuarios validos.</p>
        </div>
    }
} @else {
    <h2>Lo sentimos, no está disponible.</h2>
}

<app-counter [title]="subTitle" (counterEmmiter)="setCounter($event)"></app-counter>